/* NAVIGATION BAR */
.navigation-bar nav > .logo {
    margin-left: 1rem;
}

.navigation li {
    display: none;
}

.navigation-bar nav > .navigation ul {
    gap: 1rem;
}

.navigation-bar nav > .logo > img {
    transform: scale(1);
}

.navigation-bar nav > .navigation {
    gap: 1rem;
    margin: 0.5rem;
}

.navigation > .search-bar-content input {
    font-size: 1rem;
}

.navigation > .search-bar-content i {
    font-size: 1rem;
}

.navigation > .search-bar-content {
    min-width: 200px;
}

/* HAMBURGER MENU */
.hamburger-menu {
    display: flex;
}

/* FOOTER */
.footer-title {
    grid-area: 1 / 1 / span 1 / span 2;
}

.footer-main-content {
    grid-area: 2 / 1 / span 1 / span 2;
}

.footer-copyright {
    grid-area: 3 / 1 / span 1 / span 2;
}

.footer h1 {
    font-size: 1.3rem;
}

.footer p, li {
    font-size: 0.8rem;
}

.footer-menu li,
.footer-category li,
.footer-contact li {
    margin: 2px 0;
}

.footer-menu ul,
.footer-category ul,
.footer-contact ul {
    margin: 4px 0;
}

.footer-main-content {
    gap: 1.5rem;
    padding: 1.5rem 2rem;
}

.footer-title > .subscribe-letter > input {
    padding: 6px 14px;
    font-size: 14px;
}

.footer-title > .subscribe-letter > .subscribe-button > a {
    padding: 8px 16px;
    font-size: 14px;
}

/* Cuisine */
.container-explore .main-content {
    height: 1700px;
}

.container-explore .main-content .first-content-explore .first-explore-content-top {
    display: flex;
    flex-direction: column;
}

.container-explore .main-content .first-content-explore {
    margin-top: 7rem;
    align-items: center;
}

.container-explore .main-content .first-content-explore .circle {
    display: none;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-photo-explore img {
    height : 380px;
    width : 390px;
    left: 50%;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-title-explore {
    height: 100px;
    flex: 0 0 100px;
    /* margin-left: 1px; */
    text-align: center;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-title-explore h1 {
    font-size: 2.5em;
    color: #ffd700;
    text-transform: uppercase;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-description-explore {
    background-color: #17457a;
    width: 420px;
    height: 100px;
    padding: 36px;
    border-radius: 15%;
    /* margin-right: 15px; */
    margin-left: 10px;
}

/* bottom */
.container-explore .main-content .first-content-explore .first-explore-content-bottom .image-slider-container-first {
    display: flex;
    align-items: center;
    padding: 4px;
    width: 600px;
    height: 170px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    overflow: hidden;
    margin-top: 7rem;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom .image-slider-container-first .image-cont-first {
    opacity: 0;
}


/* button */
.container-explore .main-content .first-content-explore .first-explore-content-bottom .button-explore-slider {
    position: absolute;
    top: 8rem;
    transform: translateX(-50%,-50%);
    left: 50%;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom > .showall {
    padding: 8px 24px;
    text-align: center; 
    width: 120px;
    margin-top: 7rem;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom > .side-text {
    display: none;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom .active1 { 
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 550px;
    transform: translate(-50%,-50%);
    position: relative;
    left: 50%;
    flex-wrap: wrap;
    margin-top: 20em;
} 