/* Large devices (laptops/desktops, 992px and up) */

/* NAVIGATION BAR */
.navigation-bar nav > .logo {
    margin-left: 1rem;
}

.navigation-bar nav > .navigation,
.navigation-bar nav > .navigation ul {
    gap: 1rem;
}

.navigation-bar nav > .navigation ul li {
    font-size: 1.2rem;
}

.navigation > .search-bar-content input {
    font-size: 1rem;
}

.navigation > .search-bar-content i {
    font-size: 1rem;
}

/* FOOTER */
.footer h1 {
    font-size: 1.7rem;
}

.footer p, li {
    font-size: 0.9rem;
}

.first-footer-content > .footer-main-content {
    width: 100%;
}

/* FIRST CONTENT - Explore Indonesia Content */
.explore-indonesia-content > .explore-indonesia-title > #explore {
    font-size: 4.3em;
    letter-spacing: 0.8rem;
}

.explore-indonesia-content > .explore-indonesia-title > #indonesia {
    font-size: 5.4em;
    letter-spacing: 1.8rem;
    margin-right: -1.8rem;
}

/* SECOND CONTENT - Container */
.second-content-top-grid, .second-content-bottom-grid {
    padding: 0 1rem;
    margin: 1rem auto;
    width: 80%;
    gap: 1.5rem;
}

.second-content-container {
    padding: 8px 16px;
    width: 430px;
    height: 310px;
}

.second-content-container > .multicultural > h1 {
    margin: 6px 0;
    font-size: 2rem;
}

.second-content-container > .country > h1 {
    margin: 4px 0;
    font-size: 2rem;
}

.second-content-container > p {
    margin: 6px 0;
    font-size: 1rem;
}

.second-content-image > .first-page-accessories-4 {
    position: absolute;
    z-index: -100;
    top: 55%;
    left: 15%;
    opacity: 0.25;
    scale: 1.2;
    z-index: -101;
}

.second-content-image > .first-page-accessories-1 {
    transform: scale(0.8);
}

/* THIRD CONTENT - Wrappers */
.third-content-wrappers > .third-content-texts {
    max-width: 420px;
    margin-inline-start: 1rem;
}

.third-content-wrappers {
    padding: 18rem 2rem;
}

/* THIRD CONTENT - Content Slider */
.third-content-wrappers {
    overflow-x: hidden;
}

.items {
    margin: auto 0;
    width: 500px;
}

.items .item {
    width: 200px;
    height: 300px;
}

.items .button-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    z-index: 100;
}

/* FOURTH CONTENT - Container */
.fourth-content .fourth-container-content {
    gap: 1rem;
}

.fourth-content .fourth-container-content .fourth-image-content {
    max-width: 240px;
}

.fourth-content .fourth-container-content .fourth-image-content > p:nth-child(2) {
    font-size: 1.1rem;
}

.fourth-content .fourth-container-content .fourth-image-content > p:nth-child(4) {
    font-size: 1rem;
}

/* NEWS - Container */
.news-content-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* EXIT BAR NAVIGATION */
.exit-bar {
    padding: 0.5rem 1rem;
}

.exit-bar > .exit-bar-content {
    padding: 1.25rem 0.5rem;
    gap: 1rem;
}

.exit-bar > .exit-bar-content > a {
    padding: 1.5rem;
}

/* TRADITION PAGE */
.tradition-main-background-texts > h1 {
    font-size: 6rem;
}

.tradition-main-background-texts > h3 {
    font-size: 2rem;
}

.tradition-thumbnail > h1 {
    font-size: 4rem;
}

/* CUISINE PAGE */
.cuisine-main-background-texts > h1 {
    font-size: 6rem;
}

.cuisine-main-background-texts > h3 {
    font-size: 2rem;
}

.cuisine-synopsis {
    padding: 1.3rem 2.3rem;
}

.cuisine-synopsis > p {
    font-size: 1.6rem;
    padding: 0 1rem;
}

.cuisine-wrapper {
    padding: 12rem 2.5rem 3rem 2.5rem;
    gap: 4rem;
    font-size: 1.3rem;
}

.cuisine-wrapper > .cuisine-wrapper-first,
.cuisine-wrapper > .cuisine-wrapper-second {
    width: 30%;
    padding: 10rem 1.5rem 2rem 1.5rem;
}

.cuisine-description-texts {
    padding: 3rem 1.5rem;
}

.cuisine-description-texts > h1 {
    margin: 0.5rem 0;
    font-size: 2.3rem;
}

.cuisine-description-texts > p {
    margin: 0.5rem 0;
    font-size: 1.3rem;
}