/* Small devices (portrait tablets and large phones, 600px and up) */

/* NAVIGATION BAR */
.navigation li {
    display: none;
}

.navigation-bar nav > .navigation ul {
    gap: 1rem;
}

.navigation-bar nav > .logo > img {
    transform: scale(1.2);
}

/* HAMBURGER MENU */
.hamburger-menu {
    display: flex;
}

/* FIRST CONTENT - Explore Indonesia Content */
.explore-indonesia-content > .explore-indonesia-title > #explore {
    font-size: 2.25em;
    letter-spacing: 0.3rem;
}

.explore-indonesia-content > .explore-indonesia-title > #indonesia {
    font-size: 3.15em;
    letter-spacing: 0.9rem;
    margin-right: -0.9rem;
}

/* SECOND CONTENT - Container */
.second-content-top-grid, .second-content-bottom-grid {
    padding: 0 1rem;
    margin: 0.5rem auto;
    width: 100%;
    gap: 1rem;
}

.second-content-container {
    padding: 8px 16px;
    width: 380px;
    height: 260px;
}

.second-content-container > h3 {
    font-size: 1rem;
}

.second-content-container > .multicultural > h1 {
    margin: 6px 0;
    font-size: 1.7rem;
}

.second-content-container > .country > h1 {
    margin: 4px 0;
    font-size: 1.7rem;
}

.second-content-container > p {
    margin: 6px 0;
    font-size: 0.9rem;
}

/* THIRD CONTENT - Explore */
.third-content-wrappers {
    flex-direction: column;
}

.third-content-wrappers > .third-content-texts > h1 {
    font-size: 2rem;
}

.third-content-wrappers > .third-content-texts > p {
    font-size: 1rem;
    margin-top: 1.5rem;
}

.third-content-texts > .third-content-explore-mores {
    margin: 1rem 0;
}

/* THIRD CONTENT - Content Slider */
.third-content-wrappers {
    flex-direction: column;
    padding: 15rem 2rem;
}

.third-content-wrappers > .third-content-texts {
    margin: 0 auto;
}

.items {
    right: 0;
    top: 2rem;
    margin: 0 auto;
    height: 300px;
}

.items .button-container {
    width: 420px;
    left: 50%;
}

.items .item {
    height: 250px;
    width: 150px;
}

.item.prev {
    transform: translate(calc(-125% - 50px), -50%); 
}

.item.next {
    transform: translate(calc(25% + 50px), -50%); 
}

.items .button-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    z-index: 100;
}

/* FOURTH CONTENT - Content Slider */
.fourth-content {
    margin-top: 8rem;
}

.fourth-content .fourth-container-content {
    gap: 1rem;
}

.fourth-content  .fourth-container-content .fourth-image-content > p:nth-child(2) {
    font-size: 1.1rem;
    margin-top: 5px;
    align-self: center;
    height: 20%;
}

.fourth-content  .fourth-container-content .fourth-image-content > p:nth-child(4) {
    margin-top: 1rem;
    letter-spacing: 1px;
}