/* Medium devices (landscape tablets, 768px and up) */

/* NAVIGATION BAR */
.navigation-bar nav > .navigation {
    gap: 1rem;
    margin: 0.5rem;
}

.navigation-bar nav > .navigation ul {
    gap: 1rem;
}

.navigation-bar nav > .navigation ul li {
    font-size: 1.5rem;
    padding: 12px;
}

.navigation-bar nav > .logo > img {
    transform: scale(1.5);
}

/* FIRST CONTENT - Explore Indonesia Content */
.explore-indonesia-content > .explore-indonesia-title > #explore {
    font-size: 3.6em;
    letter-spacing: 0.6rem;
}

.explore-indonesia-content > .explore-indonesia-title > #indonesia {
    font-size: 4.5em;
    letter-spacing: 1.2rem;
    margin-right: -1.2rem;
}

/* SECOND CONTENT - Container */
.second-content-container {
    padding: 8px 16px;
    width: 430px;
    height: 310px;
}

.second-content-container > .multicultural > h1 {
    margin: 6px 0;
    font-size: 2rem;
}

.second-content-container > .country > h1 {
    margin: 4px 0;
    font-size: 2rem;
}

.second-content-container > p {
    margin: 6px 0;
    font-size: 1rem;
}

/* THIRD CONTENT - Explore */

.third-content-wrappers > .third-content-texts > h1 {
    font-size: 2rem;
}

.third-content-wrappers > .third-content-texts > p {
    font-size: 1rem;
    margin-top: 1.5rem;
}

.third-content-texts > .third-content-explore-mores {
    margin: 1rem 0;
}

/* FOURTH CONTENT - Content Slider */
.fourth-content .fourth-container-content {
    gap: 2rem;
}

.fourth-content  .forth-container-content .fourth-image-content > p:nth-child(2) {
    font-size: 1.2rem;
    margin-top: 5px;
    align-self: center;
    height: 20%;
}

.fourth-content  .forth-container-content .fourth-image-content > p:nth-child(4) {
    margin-top: 1.1rem;
    letter-spacing: 1px;
}