/* Extra small devices (phones, 600px and down) */

/* NAVIGATION BAR */
.navigation li {
    display: none;
}

.navigation-bar nav > .navigation ul {
    gap: 1rem;
}

.navigation-bar nav > .logo > img {
    transform: scale(1);
}

/* FIRST CONTENT - Explore Indonesia Content */
.explore-indonesia-content > .explore-indonesia-title > #explore {
    font-size: 1.75em;
    letter-spacing: 0.3rem;
}

.explore-indonesia-content > .explore-indonesia-title > #indonesia {
    font-size: 2.65em;
    letter-spacing: 0.9rem;
    margin-right: -0.9rem;
}

/* SECOND CONTENT - Container */
.second-content-container {
    padding: 8px 16px;
    width: 330px;
    height: 210px;
}

.second-content-container > h3 {
    font-size: 1rem;
}

.second-content-container > .multicultural > h1 {
    margin: 6px 0;
    font-size: 1.7rem;
}

.second-content-container > .country > h1 {
    margin: 4px 0;
    font-size: 1.7rem;
}

.second-content-container > p {
    margin: 6px 0;
    font-size: 0.9rem;
}

/* THIRD CONTENT - Explore */
.third-content-wrappers {
    flex-direction: column;
}

.third-content-wrappers > .third-content-texts > h1 {
    font-size: 2rem;
}

.third-content-wrappers > .third-content-texts > p {
    font-size: 1rem;
    margin-top: 1.5rem;
}

.third-content-texts > .third-content-explore-mores {
    margin: 1rem 0;
}