/* Extra small devices (phones, 600px and down) */

/* NAVIGATION BAR */
.navigation-bar nav > .logo {
    margin-left: 1rem;
}

.navigation li {
    display: none;
}

.navigation-bar nav > .navigation ul {
    gap: 1rem;
}

.navigation-bar nav > .logo > img {
    transform: scale(1);
}

.navigation-bar nav > .navigation {
    gap: 1rem;
    margin: 0.5rem;
}

.navigation > .search-bar-content input {
    font-size: 1rem;
}

.navigation > .search-bar-content i {
    font-size: 1rem;
}

/* HAMBURGER MENU */
.hamburger-menu {
    display: flex;
}


/* FIRST CONTENT - Explore Indonesia Content */
.explore-indonesia-content > .explore-indonesia-title > #explore {
    font-size: 1.75em;
    letter-spacing: 0.3rem;
}

.explore-indonesia-content > .explore-indonesia-title > #indonesia {
    font-size: 2.65em;
    letter-spacing: 0.9rem;
    margin-right: -0.9rem;
}

/* SECOND CONTENT - Container */
.second-content-top-grid, .second-content-bottom-grid {
    padding: 0 0.5rem;
    margin: 0.5rem auto;
    width: 100%;
    gap: 1rem;
}

.second-content-container {
    padding: 4px 12px;
    width: 300px;
    height: 200px;
}

.second-content-container > p {
    font-size: 1rem;
}

.second-content-container > h3 {
    font-size: 0.8rem;
}

.second-content-container > .multicultural > h1 {
    margin: 4px 0;
    font-size: 1.4rem;
}

.second-content-container > .country > h1 {
    margin: 2px 0;
    font-size: 1.4rem;
}

.second-content-container > p {
    margin: 6px 0;
    font-size: 0.9rem;
}

/* THIRD CONTENT - Content Slider */
.third-content-wrappers {
    flex-direction: column;
    padding: 15rem 2rem;
}

.third-content-wrappers > .third-content-texts {
    margin: 0 auto;
}

.items {
    right: 0;
    top: 2rem;
    margin: 0 auto;
    width: 300px;
    height: 260px;
}

.items .button-container {
    width: 420px;
    left: 50%;
}

.items .item {
    height: 200px;
    width: 100px;
}

.item.prev {
    transform: translate(calc(-125% - 50px), -50%); 
}

.item.next {
    transform: translate(calc(25% + 50px), -50%); 
}

.items .button-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    z-index: 100;
}

/* THIRD CONTENT - Explore */
.third-content-wrappers {
    flex-direction: column;
}

.third-content-wrappers > .third-content-texts > h1 {
    font-size: 2rem;
}

.third-content-wrappers > .third-content-texts > p {
    font-size: 1rem;
    margin-top: 1.5rem;
}

.third-content-texts > .third-content-explore-mores {
    margin: 1rem 0;
}

.items > .accessories-9 > img {
    transform: translate(-50%, -50%) scale(0.8);
}

/* FOURTH CONTENT - Content */
.fourth-content {
    margin-top: 4rem;
}

.fourth-content > .accessories-6 > img {
    transform: scale(0.6);
    right: -12rem;
    z-index: -3;
}