/* Extra small devices (phones, 600px and down) */

/* NAVIGATION BAR */
.navigation-bar nav > .logo {
    margin-left: 1rem;
}

.navigation li {
    display: none;
}

.navigation-bar nav > .navigation ul {
    gap: 1rem;
}

.navigation-bar nav > .logo > img {
    transform: scale(1);
}

.navigation-bar nav > .navigation {
    gap: 1rem;
    margin: 0.5rem;
}

.navigation > .search-bar-content input {
    font-size: 1rem;
}

.navigation > .search-bar-content i {
    font-size: 1rem;
}

.navigation > .search-bar-content {
    min-width: 200px;
}

/* HAMBURGER MENU */
.hamburger-menu {
    display: flex;
}

/* FOOTER */
.footer-title {
    grid-area: 1 / 1 / span 1 / span 2;
}

.footer-main-content {
    grid-area: 2 / 1 / span 1 / span 2;
}

.footer-copyright {
    grid-area: 3 / 1 / span 1 / span 2;
}

.footer h1 {
    font-size: 1.3rem;
}

.footer p, li {
    font-size: 0.8rem;
}

.footer-menu li,
.footer-category li,
.footer-contact li {
    margin: 2px 0;
}

.footer-menu ul,
.footer-category ul,
.footer-contact ul {
    margin: 4px 0;
}

.footer-main-content {
    gap: 1.5rem;
    padding: 1.5rem 2rem;
}

.footer-title > .subscribe-letter > input {
    padding: 6px 14px;
    font-size: 14px;
}

.footer-title > .subscribe-letter > .subscribe-button > a {
    padding: 8px 16px;
    font-size: 14px;
}


/* FIRST CONTENT - Explore Indonesia Content */
.explore-indonesia-content > .explore-indonesia-title > #explore {
    font-size: 1.75em;
    letter-spacing: 0.3rem;
}

.explore-indonesia-content > .explore-indonesia-title > #indonesia {
    font-size: 2.65em;
    letter-spacing: 0.9rem;
    margin-right: -0.9rem;
}

/* SECOND CONTENT - Container */
.second-content-top-grid, .second-content-bottom-grid {
    padding: 0 0.5rem;
    margin: 0.5rem auto;
    width: 100%;
    gap: 1rem;
}

.second-content-container {
    padding: 4px 12px;
    width: 300px;
    height: 200px;
}

.second-content-container > p {
    font-size: 1rem;
}

.second-content-container > h3 {
    font-size: 0.8rem;
}

.second-content-container > .multicultural > h1 {
    margin: 4px 0;
    font-size: 1.4rem;
}

.second-content-container > .country > h1 {
    margin: 2px 0;
    font-size: 1.4rem;
}

.second-content-container > p {
    margin: 6px 0;
    font-size: 0.9rem;
}


.second-content-image > .first-page-accessories-4 {
    position: absolute;
    z-index: -100;
    top: 45%;
    left: -15%;
    opacity: 0.25;
    scale: 1;
    z-index: -101;
}

.second-content-image > .first-page-accessories-1 {
    transform: scale(0.5);
    top: -5rem;
}

/* THIRD CONTENT - Content Slider */
.third-content-wrappers {
    flex-direction: column;
    padding: 15rem 2rem;
}

.third-content-wrappers > .third-content-texts {
    margin: 0 auto;
}

.items {
    right: 0;
    top: 2rem;
    margin: 0 auto;
    width: 300px;
    height: 260px;
}

.items .item {
    height: 200px;
    width: 100px;
}

.item.prev {
    transform: translate(calc(-125% - 40px), -50%); 
}

.item.next {
    transform: translate(calc(25% + 40px), -50%); 
}

.items .button-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    z-index: 100;
}

/* THIRD CONTENT - Explore */
.third-content-wrappers {
    flex-direction: column;
}

.third-content-wrappers > .third-content-texts > h1 {
    font-size: 2rem;
}

.third-content-wrappers > .third-content-texts > p {
    font-size: 1rem;
    margin-top: 1.5rem;
}

.third-content-texts > .third-content-explore-mores {
    margin: 1rem 0;
}

.items > .accessories-9 > img {
    transform: translate(-50%, -50%) scale(0.8);
}

/* FOURTH CONTENT - Content */
.fourth-content {
    margin-top: 4rem;
}

.fourth-content > .accessories-6 > img {
    transform: scale(0.6);
    right: -12rem;
    z-index: -3;
}

.fourth-container-content div:nth-child(1),
.fourth-container-content div:nth-child(3) {
    display: none;
}

.fourth-content .fourth-content-slider .button-fourth-content {
    width: 120%;
}

.fourth-content .fourth-content-slider .button-fourth-content > button {
    height: 50px;
    width: 50px;
}

.fourth-content .fourth-content-slider .button-fourth-content > button i {
    font-size: 3em;
}

/* NEWS - Container */
.second-content {
    flex-direction: column;
}

.news-content-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 80%;
    margin: 0 auto;
}

.second-content-first-content {
    width: 80%;
    margin: 0 auto;
}

.news-h1 {
    font-size: 1.4rem;
}

.news-content-top-post-description h3 {
    font-size: 0.8rem;
}

.news-content-top-post-description p {
    font-size: 0.8rem;
}

.news-content-top-post-description > .news-content-top-post-index {
    font-size: 1.6rem;
}

.news-content-top-post > h1 {
    font-size: 1.4rem;
}

.highlighted-post h2 {
    font-size: 0.9rem;
}

.highlighted-post > .highlighted-post-description {
    padding-bottom: 1.3rem;
}

.news-content-description {
    font-size: 0.6rem;
}

.news-content-top-post {
    padding: 0.5rem 1rem;
}

.news-content-top-post-description {
    margin: 0.5rem;
}

.news-content-top-post-description > .news-content-top-post-index {
    padding: 0.5rem;
}

/* EXIT BAR NAVIGATION */
.exit-bar {
    padding: 0.3rem 0.8rem;
}

.exit-bar > .exit-bar-content {
    padding: 0.25rem 0.5rem;
    gap: 0.25rem;
    height: 3rem;
}

.exit-bar > .exit-bar-content > a {
    padding: 1rem;
    font-size: 1rem;
}

/* TRADITION PAGE */
.tradition-main-background-texts > h1 {
    font-size: 3rem;
}

.tradition-main-background-texts > h3 {
    font-size: 1.2rem;
}

.tradition-thumbnail > h1 {
    font-size: 2rem;
}

.tradition-description {
    padding: 1rem 2rem;
}

.tradition-description > p {
    padding: 1rem 1.5rem;
    text-align: center;
    font-size: 0.9rem;
}

.tradition-wrapper-texts {
    padding: 0.5rem 1rem;
    margin: auto 0 auto 0;
    font-size: 0.9rem;
}

.tradition-video {
    padding: 1rem 3rem;
}

.tradition-synopsis {
    font-size: 0.9rem;
}

/* CUISINE PAGE */
.cuisine-main-background-texts > h1 {
    font-size: 3rem;
}

.cuisine-main-background-texts > h3 {
    font-size: 1.3rem;
}

.cuisine-synopsis {
    padding: 1rem 2rem;
}

.cuisine-synopsis > img {
    width: 30%;
    max-width: 150px;
}

.cuisine-synopsis > p {
    font-size: 1rem;
    padding: 0 1rem;
    width: 70%;
}

.cuisine-wrapper {
    padding: 8rem 2.5rem 3rem 2.5rem;
    gap: 1rem;
    font-size: 1rem;
}

.cuisine-wrapper > .cuisine-wrapper-first,
.cuisine-wrapper > .cuisine-wrapper-second {
    width: 55%;
    padding: 6rem 1rem 1.5rem 1rem;
}

.cuisine-description-texts {
    padding: 1.5rem 1rem;
}

.cuisine-description-texts > h1 {
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

.cuisine-description-texts > p {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.cuisine-video {
    padding: 2rem 3rem;
}

/* GAMES PAGE */
.games-main-background-texts > h1 {
    font-size: 3rem;
}

.game-synopsis {
    padding: 1rem 2rem;
    font-size: 0.9rem;
}

.games-wrapper {
    padding: 0.5rem 1rem;
}

.games-wrapper-texts {
    padding: 1rem 2rem;
    margin: auto 0 auto -1rem;
    max-width: 300px;
    font-size: 0.9rem;
}

.games-wrapper-texts > h1 {
    font-size: 1.3rem;
}

.games-wrapper > .games-wrapper-thumbnail {
    width: 50%;
}

.games-video {
    padding: 2rem 3rem;
}