/* body {
    margin: 0;
    top: 0;
    width: 100%;
    background-image: url(/main/assets/forest.jpg);
    background-repeat: no-repeat;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
} */
