* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: ; */
}

.container-explore .main-content {
    background-image: linear-gradient(to left top , #1a5a91 60% , #101746 95%);
    height: 720px;
    color: #fff;
    position: relative;
}

.container-explore .main-content .first-content-explore {
    display: flex;
    flex-direction: column;
    position: relative;
}

.container-explore .main-content .first-content-explore .circle {
    height: 1000px;
    width: 1000px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    top: -40rem;
    left: -28rem;
    border: 50px solid white;
    opacity: 0.8;
}

.container-explore .main-content .first-content-explore .first-explore-content-top {
    display: flex;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-photo-explore {
    margin-top: -6rem;
    margin-left: 3rem;
    position: relative;
    z-index: 2;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-photo-explore img {
    height: 500px;
    width: 520px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-title-explore {
    height: 300px;
    flex: 0 0 360px;
    margin-left: -3rem;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-title-explore h1 {
    font-size: 5.5em;
    color: #ffd700;
    text-transform: uppercase;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-title-explore a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-title-explore a > span {
    margin-right: 7px;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-description-explore {
    background-color: #17457a;
    flex: 0 0 350px;
    height: 350px;
    padding: 36px;
    border-radius: 15%;
    /* margin-right: 15px; */
    margin-left: 10px;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-description-explore > h4 {
    color: #ffd700;
    font-size: 1.5em;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-description-explore > p {
    margin-top: 25px;
}





/* bottom */
.container-explore .main-content .first-content-explore .first-explore-content-bottom {
    display: flex;
    position: relative;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom .image-slider-container-first {
    display: flex;
    align-items: center;
    padding: 4px;
    /* background-color: green; */
    width: 600px;
    height: 170px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    overflow: hidden;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom .image-slider-container-first .image-cont-first {
    height: 120px;
    flex: 0 0 100px;
    margin: 47px;
    position: relative;
    opacity: 0.5;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom .image-slider-container-first .image-cont-first.actives {
    opacity: 1;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom .image-slider-container-first .image-cont-first span  {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom .image-slider-container-first .image-cont-first  > p {
    color: #fff;
}



.container-explore .main-content .first-content-explore .first-explore-content-bottom .image-slider-container-first .image-cont-first .img-dlm {
    height: 100px;
    flex: 0 0 100px;
    border-radius: 50%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom .image-slider-container-first .image-cont-first .img-dlm img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-size: center; */
}


/* Button */
.container-explore .main-content .first-content-explore .first-explore-content-bottom .button-explore-slider {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-90%);
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom .button-explore-slider > button {
    height: 50px;
    width: 50px;
    background: transparent;
    border: none;
    color: #ffd700;
    font-size: 3em;
    border-radius: 50%;
    cursor: pointer;
}