* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    /* font-family: ; */
    /* overflow-x: hidden; */
}

.container-explore .main-content {
    background-image: linear-gradient(to left top , #1a5a91 60% , #101746 95%);
    height: 850px;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.container-explore .main-content .first-content-explore {
    display: flex;
    flex-direction: column;
    position: relative;
}

.container-explore .main-content .first-content-explore .circle {
    height: 1000px;
    width: 1000px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    top: -40rem;
    left: -28rem;
    border: 50px solid white;
    opacity: 0.8;
}

.container-explore .main-content .first-content-explore .first-explore-content-top {
    display: flex;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-photo-explore {
    margin-top: -6rem;
    margin-left: 3rem;
    position: relative;
    z-index: 2;
    z-index: 0;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-photo-explore img {
    height: 500px;
    width: 520px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    background-position: center;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-title-explore {
    height: 300px;
    flex: 0 0 360px;
    margin-left: -3rem;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-title-explore h1 {
    font-size: 5.5em;
    color: #ffd700;
    text-transform: uppercase;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-title-explore a {
    color: white;
    /* text-decoration: none; */
    margin-left: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-title-explore a > span {
    margin-right: 7px;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-description-explore {
    background-color: #17457a;
    flex: 0 0 350px;
    height: 350px;
    padding: 36px;
    border-radius: 15%;
    /* margin-right: 15px; */
    margin-left: 10px;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-description-explore > h4 {
    color: #ffd700;
    font-size: 1.5em;
}

.container-explore .main-content .first-content-explore .first-explore-content-top .first-description-explore > p {
    margin-top: 25px;
}





/* bottom */
.container-explore .main-content .first-content-explore .first-explore-content-bottom {
    display: flex;
    position: relative;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom > .side-text {
    transform: rotate(-90deg);
    position: absolute;
    top: 6rem;
    left: -8rem;
    z-index: 2;
    font-size: 2.5em;
    letter-spacing: 3px;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom > .side-text span {
    margin-left: 5px;
    font-size: 1.8em;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom > .showall {
    padding: 8px 24px;
    background: transparent;
    border: 3px solid white;
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 2.5rem;
    transform: translate(-50%,100%);
    cursor: pointer;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom > .showless {
    padding: 8px 24px;
    background: transparent;
    border: 3px solid white;
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 2.5rem;
    transform: translate(-50%,100%);
    display: none;
    cursor: pointer;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom .image-slider-container-first {
    display: flex;
    align-items: center;
    padding: 4px;
    /* background-color: green; */
    width: 600px;
    height: 170px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    overflow: hidden;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom .image-slider-container-first .image-cont-first {
    height: 120px;
    flex: 0 0 100px;
    margin:0 47px;
    position: relative;
    opacity: 0.5;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom .image-slider-container-first .image-cont-first.actives {
    opacity: 1;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom .image-slider-container-first .image-cont-first span  {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom .image-slider-container-first .image-cont-first  > p {
    color: #fff;
    display: none;
}



.container-explore .main-content .first-content-explore .first-explore-content-bottom .image-slider-container-first .image-cont-first .img-dlm {
    height: 100px;
    flex: 0 0 100px;
    border-radius: 50%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom .image-slider-container-first .image-cont-first .img-dlm img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-size: center; */
}


/* Button */
.container-explore .main-content .first-content-explore .first-explore-content-bottom .button-explore-slider {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-90%);
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.container-explore .main-content .first-content-explore .first-explore-content-bottom .button-explore-slider > button {
    height: 50px;
    width: 50px;
    background: transparent;
    border: none;
    color: #ffd700;
    font-size: 3em;
    border-radius: 50%;
    cursor: pointer;
}


/* add classlist */
.container-explore .main-content .first-content-explore .first-explore-content-bottom .active1 { 
    display: flex;
    justify-content: space-around;
    width: 800px;
    height: 350px;
    transform: translate(-50%,-50%);
    position: relative;
    left: 50%;
    flex-wrap: wrap;
    margin-top: 6em;
} 
/* ^^ pengganti image-slider-container-first */

.container-explore .main-content .first-content-explore .first-explore-content-bottom .image-slider-container-first .actives {
    opacity: 1;
}









/* Art and music */
.container-explore .main-content-2 {
    background-image: linear-gradient(to left top , #523113 60% , #20160e 95%);
    height: 850px;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.container-explore .main-content-2 .first-content-explore-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10rem;
}

.container-explore .main-content-2 .first-content-explore-2 .circle-2 {
    height: 1000px;
    width: 1000px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    top: -40rem;
    right: -28rem;
    border: 50px solid white;
    opacity: 0.8;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-top-2 {
    display: flex;
    flex-direction: row-reverse;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-top-2 .first-photo-explore-2 {
    margin-top: -6rem;
    margin-left: 3rem;
    position: relative;
    z-index: 2;
    z-index: 0;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-top-2 .first-photo-explore-2 > img {
    height: 500px;
    width: 520px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    background-position: center;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-top-2 .first-title-explore-2 {
    height: 300px;
    flex: 0 0 360px;
    margin-left: -3rem;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-top-2 .first-title-explore-2 > h1 {
    font-size: 5.5em;
    color: #ffd700;
    text-transform: uppercase;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-top-2 .first-title-explore-2 > a {
    color: white;
    /* text-decoration: none; */
    margin-left: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-top-2 .first-title-explore-2 a > span {
    margin-right: 7px;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-top-2 .first-description-explore-2 {
    background-color: #17457a;
    flex: 0 0 350px;
    height: 350px;
    padding: 36px;
    border-radius: 15%;
    /* margin-right: 15px; */
    margin-left: 10px;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-top-2 .first-description-explore-2 > h4 {
    color: #ffd700;
    font-size: 1.5em;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-top-2 .first-description-explore-2 > p {
    margin-top: 25px;
}





/* bottom */
.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-bottom-2 {
    display: flex;
    position: relative;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-bottom-2 > .side-text-2 {
    transform: rotate(-90deg);
    position: absolute;
    top: 6rem;
    left: -8rem;
    z-index: 2;
    font-size: 2.5em;
    letter-spacing: 3px;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-bottom-2 > .side-text-2 > span {
    margin-left: 5px;
    font-size: 1.8em;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-bottom-2 > .showall-2 {
    padding: 8px 24px;
    background: transparent;
    border: 3px solid white;
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 2.5rem;
    transform: translate(-50%,100%);
    cursor: pointer;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-bottom-2 > .showless-2 {
    padding: 8px 24px;
    background: transparent;
    border: 3px solid white;
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 2.5rem;
    transform: translate(-50%,100%);
    display: none;
    cursor: pointer;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-bottom-2 .image-slider-container-first-2 {
    display: flex;
    align-items: center;
    padding: 4px;
    /* background-color: green; */
    width: 600px;
    height: 170px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    overflow: hidden;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-bottom-2 .image-slider-container-first-2 .image-cont-first-2 {
    height: 120px;
    flex: 0 0 100px;
    margin:0 47px;
    position: relative;
    opacity: 0.5;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-bottom-2 .image-slider-container-first-2 .image-cont-first-2.actives-2 {
    opacity: 1;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-bottom-2 .image-slider-container-first-2 .image-cont-first-2 > span  {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-bottom-2 .image-slider-container-first-2 .image-cont-first-2  > p {
    color: #fff;
    display: none;
}



.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-bottom-2 .image-slider-container-first-2 .image-cont-first-2 .img-dlm-2 {
    height: 100px;
    flex: 0 0 100px;
    border-radius: 50%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-bottom-2 .image-slider-container-first-2 .image-cont-first-2 .img-dlm-2 > img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-size: center; */
}


/* Button */
.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-bottom-2 .button-explore-slider-2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-90%);
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-bottom-2 .button-explore-slider-2 > button {
    height: 50px;
    width: 50px;
    background: transparent;
    border: none;
    color: #ffd700;
    font-size: 3em;
    border-radius: 50%;
    cursor: pointer;
}


/* add classlist */
.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-bottom-2 .active1-1 { 
    display: flex;
    justify-content: space-around;
    width: 800px;
    height: 350px;
    transform: translate(-50%,-50%);
    position: relative;
    left: 50%;
    flex-wrap: wrap;
    margin-top: 6em;
} 
/* ^^ pengganti image-slider-container-first */

.container-explore .main-content-2 .first-content-explore-2 .first-explore-content-bottom-2 .image-slider-container-first-2 .actives-2 {
    opacity: 1;
}
