.explore-indonesia-content > .explore-indonesia-title {
    color: white;
    text-align: end;
    margin-right: 80px;
    margin-top: 150px;
    align-items: center;
}

.explore-indonesia-content > .explore-indonesia-title > #explore {
    font-size: 5.5em;
    text-shadow: -2.5px 2.5px 5px black;
    letter-spacing: 0.8rem;
    font-family: 'Great Vibes';
}

.explore-indonesia-content > .explore-indonesia-title > #indonesia {
    font-size: 6.3em;
    letter-spacing: 2.8rem;
    margin-right: -2.8rem;
    text-shadow: 2.5px 2.5px 5px black;
    font-family: Blanka;
}

.container > .second-content > .second-content-image {
    /* width: 97%; */
    /* border: 1px white solid; */
    margin: auto;
    margin-top: 5rem;
    position: relative;
}

.second-content-image-top {
    display: grid;
    justify-content: center;
    grid-template-columns: [k1] 420px [k2] 420px [k3] 220px [k4];
    gap: 20px;
    margin: 20px auto;
    width: 97%;
}

.second-content-image-bottom {
    display: grid;
    justify-content: center;
    grid-template-columns: [k1] 270px [k2] 270px [k3] 520px [k4];
    gap: 30px;
    margin:0 auto;
    width: 97%;
}

 /* gambar 1-3 */

.second-content-image-top > .image-content-top-1 {
    width: 420px;
    height: 270px;
    border-radius: 0% 10% 0% 10% / 25% 25% 25% 25%;
    background: url(../assets/first-page-content-1.webp);
    background-size: cover;
    background-position: center;
    border: 1px #2A8694 solid;
}

.second-content-image-top > .image-content-top-2 {
    width: 420px;
    height: 270px;
    border-radius: 0% 10% 0% 10% / 25% 25% 25% 25%;
    background: url(../assets/main-background.jpg);
    background-size: cover;
    background-position: center;
    border: 1px #111 solid;
}

.second-content-image-top > .image-content-top-3 {
    width: 220px;
    height: 270px;
    border-radius: 0% 25% 0% 25% / 25% 25% 25% 25%;
    background: url(../assets/first-page-content-3.jpg);
    background-size: cover;
    background-position: center;
}

 /* gambar 4-6 */

.second-content-image-bottom > .image-content-top-4 {
    width: 270px;
    height: 370px;
    border-radius: 0% 25% 0% 25% / 25% 25% 25% 25%;
    background: url(../assets/first-page-content-4.jpg);
    background-size: cover;
    background-position: center;
}

.second-content-image-bottom > .image-content-top-5 {
    width: 270px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second-content-image-bottom > .image-content-top-5 > .image-content-top-5-child-1 {
    width: 270px;
    height: 175px;
    border-radius: 0% 10% 0% 10% / 25% 25% 25% 25%;
    background: url(../assets/first-page-content-5.jpg);
    background-size: cover;
    background-position: center;
    border: 1px #2A8694 solid;
}

.second-content-image-bottom > .image-content-top-5 > .image-content-top-5-child-2 {
    width: 270px;
    height: 175px;
    border-radius: 0% 10% 0% 10% / 25% 25% 25% 25%;
    background: url(../assets/first-page-content-6.webp);
    background-size: cover;
    background-position: center;
    border: 1px #21C6CE solid;
}

.second-content-image-bottom > .image-content-top-6 {
    width: 520px;
    height: 370px;
    border-radius: 0% 25% 0% 25% / 25% 25% 25% 25%;
    background: url(../assets/first-page-content-7.jpg);
    background-size: cover;
    background-position: center;
}

.second-content-container {
    position: absolute;
    color: #000;
    padding: 16px 32px;
    background-color: #2A8694;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 480px;
    height: 360px;
    z-index: 3;
    margin: auto;
}

.second-content-container > h3 {
    margin: 4px 0;
    color: #21C6CE;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.second-content-container > .multicultural > h1 {
    margin: 6px 0;
    color: #fff;
    font-size: 2.5rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.second-content-container > .country > h1 {
    margin: 6px 0;
    color: #FFD700;
    font-size: 2.5rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.second-content-container > p {
    margin: 8px 0;
    color: #fff;
    font-size: 1.1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.second-content-image > .first-page-accessories-1 {
    position: absolute;
    z-index: -100;
    left: -12rem;
}

.second-content-image > .first-page-accessories-4 {
    position: absolute;
    z-index: -100;
    top: 70%;
    left: 15%;
    filter: invert(1);
    opacity: 0.25;
}
