.explore-indonesia-content > .explore-indonesia-title {
    text-align: end;
    margin-right: 80px;
    margin-top: 150px;
    align-items: center;
}

.explore-indonesia-content > .explore-indonesia-title > #explore {
    color: white;
    font-size: 5.5em;
    text-shadow: -2.5px 2.5px 5px black;
    letter-spacing: 0.8rem;
    font-family: 'Great Vibes';
}

.explore-indonesia-content > .explore-indonesia-title > #indonesia {
    font-size: 6.3em;
    letter-spacing: 2.8rem;
    margin-right: -2.8rem;
    text-shadow: 2.5px 2.5px 5px black;
    font-family: Blanka;
    color: white;
    position: relative;
    margin-top: -1rem;
}

.explore-indonesia-content > .explore-indonesia-title > #indonesia > span  {
    height: 70%;
    position: absolute;
    color: red;
    overflow: hidden;
}

.container > .second-content {
    padding-bottom: 26rem;
    background:linear-gradient(to bottom, transparent 55%, #000);
}

.container > .second-content > .second-content-image {
    width: 97%;
    /* border: 1px white solid; */
    margin: auto;
    margin-top: 5rem;
    position: relative;
}

.second-content-image-top {
    display: grid;
    justify-content: center;
    grid-template-columns: [k1] 420px [k2] 420px [k3] 220px [k4];
    gap: 20px;
    margin: 20px auto;
    width: 97%;
    overflow: hidden;
}

.second-content-image-bottom {
    display: grid;
    justify-content: center;
    grid-template-columns: [k1] 270px [k2] 270px [k3] 520px [k4];
    gap: 30px;
    margin: 0 auto;
    width: 97%;
}

 /* gambar 1-3 */

.second-content-image-top > .image-content-top-1 {
    width: 420px;
    height: 270px;
    border-radius: 0% 10% 0% 10% / 25% 25% 25% 25%;
    background: url(../assets/first-page-content-1.webp);
    background-size: cover;
    background-position: center;
    border: 1px #2A8694 solid;
}

.second-content-image-top > .image-content-top-2 {
    width: 420px;
    height: 270px;
    border-radius: 0% 10% 0% 10% / 25% 25% 25% 25%;
    background: url(../assets/main-background.jpg);
    background-size: cover;
    background-position: center;
    border: 1px #111 solid;
}

.second-content-image-top > .image-content-top-3 {
    width: 220px;
    height: 270px;
    border-radius: 0% 25% 0% 25% / 25% 25% 25% 25%;
    background: url(../assets/first-page-content-3.jpg);
    background-size: cover;
    background-position: center;
}

 /* gambar 4-6 */

.second-content-image-bottom > .image-content-top-4 {
    width: 270px;
    height: 370px;
    border-radius: 0% 25% 0% 25% / 25% 25% 25% 25%;
    background: url(../assets/first-page-content-4.jpg);
    background-size: cover;
    background-position: center;
}

.second-content-image-bottom > .image-content-top-5 {
    width: 270px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second-content-image-bottom > .image-content-top-5 > .image-content-top-5-child-1 {
    width: 270px;
    height: 175px;
    border-radius: 0% 10% 0% 10% / 25% 25% 25% 25%;
    background: url(../assets/first-page-content-5.jpg);
    background-size: cover;
    background-position: center;
    border: 1px #2A8694 solid;
}

.second-content-image-bottom > .image-content-top-5 > .image-content-top-5-child-2 {
    width: 270px;
    height: 175px;
    border-radius: 0% 10% 0% 10% / 25% 25% 25% 25%;
    background: url(../assets/first-page-content-6.webp);
    background-size: cover;
    background-position: center;
    border: 1px #21C6CE solid;
}

.second-content-image-bottom > .image-content-top-6 {
    width: 520px;
    height: 370px;
    border-radius: 0% 25% 0% 25% / 25% 25% 25% 25%;
    background: url(../assets/first-page-content-7.jpg);
    background-size: cover;
    background-position: center;
}

.second-content-container {
    position: absolute;
    color: #000;
    padding: 16px 32px;
    background-color: #2A8694;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 480px;
    height: 360px;
    z-index: 3;
    margin: auto;
}

.second-content-container > h3 {
    margin: 4px 0;
    color: #21C6CE;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.second-content-container > .multicultural > h1 {
    margin: 6px 0;
    color: #fff;
    font-size: 2.5rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.second-content-container > .country > h1 {
    margin: 6px 0;
    color: #FFD700;
    font-size: 2.5rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.second-content-container > p {
    margin: 8px 0;
    color: #fff;
    font-size: 1.1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.second-content-image > .first-page-accessories-1 {
    position: absolute;
    z-index: -100;
    left: -12rem;
}

.second-content-image > .first-page-accessories-4 {
    position: absolute;
    z-index: -100;
    top: 75%;
    left: 15%;
    filter: invert(1);
    opacity: 0.25;
    scale: 1.5;
    z-index: -101;
}

/* Third Content (EXPLORE) */

.third-content {
    background: radial-gradient(circle at center, #21c6ce, #146f84), linear-gradient(to bottom, transparent 50%, #000 90%);
    background-blend-mode: multiply;
    height: 920px;
    position: relative;
}

.third-content-wrappers {
    position: relative;
    padding: 18rem 2rem;
    display: flex;
}

.third-content-wrappers > .third-content-texts {
    display: block;
    width: 100%;
    max-width: 640px;
    padding: 1rem 2rem;
    margin-inline: 2rem;
    height: 300px;
    position: relative;
}

.third-content-wrappers > .third-content-texts > h1 {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    font-size: 2.5rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.third-content-wrappers > .third-content-texts > h1 > span{
    color: #FFD700;
    margin: 10px 0 5px 0;
    padding: 0;
}

.third-content-wrappers > .third-content-texts > p {
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    margin-top: 2rem;
}

.third-content-texts > .third-content-explore-mores {
    margin: 1.5rem 0;
    display: inline-block;
    position: relative;
    transition: all 0.4s;
}

.third-content-explore-mores > a {
    text-decoration-line: none;
    background-color: #2a8694;
    padding: 1rem 2rem;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    transition: .2s ease-in-out;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
    position: relative;
    transition: 0.4s;
    display: inline-block;
    font-weight: bold;
}

.third-content-explore-mores > a:hover {
    background-color: #1a7684;
    box-shadow: 1px 1.5px 1.5px rgba(0, 0, 0, 0.6);
}

.third-content-explore-mores > a::after {
    content: '>';
    position: absolute;
    right: 0.1rem;
    opacity: 0;
    transition: 0.4s;
}

.third-content-explore-mores:hover > a::after {
    opacity: 1;
    right: 0.8rem;
}
.third-content-explore-mores:hover > a {
    padding-right: -2rem;
}
/*  */

.third-content > .accessories-5 > img {
    position: absolute;
    left: -9rem;
    top: -4rem;
    transform: scale(0.8);
}

/* Third Image Slider */

.third-gallery {
    position: relative;
    right: -6rem;
    display: flex;
    flex: 1;
    width: 700px;
}

.third-gallery .third-content-image-slider {
    width: 700px;
    position: relative;
    overflow-x: hidden;
    height: 400px;
    margin-top: -3rem;
}

.third-gallery .third-content-image-slider .image-slider-third {
    display: flex;
    gap: 2rem;
    margin-left: 700px;
    margin-top: 40px;
}

.third-gallery .third-content-image-slider .image-slider-third > div {
    padding: 2rem;
    height: 300px;
    width: 200px;
    aspect-ratio: 3/4;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    cursor: pointer;
}

.third-gallery .third-content-image-slider .image-slider-third > div:nth-child(1)  {
    top: 0;
    background: url(../assets/image-slider-third.jpg);
    background-position: left;
    background-size: cover;
    animation: floating-1 5s infinite;
}

.third-gallery .third-content-image-slider .image-slider-third > div:nth-child(2)  {
    top: -5rem;
    background: url(../assets/image-slider-first.jpg);
    background-position: left;
    background-size: cover;
    animation: floating-2 5.5s infinite;
}

.third-gallery .third-content-image-slider .image-slider-third > div:nth-child(3)  {
    top: 0;
    background: url(../assets/image-slider-second.jpg);
    background-position: left;
    background-size: cover;
    animation: floating-3 5.75s infinite;
}


.third-gallery .third-content-image-slider .image-slider-third > div > span {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem;
    font-size: 1.5rem;
    word-wrap: break-word;
    text-align: end;
}

@keyframes floating-1 {
    0% {
        transform: translateY(0);
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    }
    50% {
        transform: translateY(-2rem);
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        transform: translateY(0);
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    }
}

@keyframes floating-2 {
    0% {
        transform: translateY(-2rem);
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    }
    50% {
        transform: translateY(0);
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    }
    100% {
        transform: translateY(-2rem);
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    }
}


@keyframes floating-3 {
    0% {
        transform: translateY(0);
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    }
    50% {
        transform: translateY(-2rem);
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        transform: translateY(0);
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    }
}


/* Button Slider */ 
.button-slider {
    display: flex;
    justify-content: space-between;
    width: 630px;
    position: absolute;
    z-index: 1;
    transform: translateY(-50%);
    top: 50%;
    right: 10%;
}

.button-slider > button {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid #fff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.7em;
}


/* Fourth Content */
.fourth-content {
    position: relative;
}

.fourth-content h1 {
    color: #fff;
    text-align: center;
}

.fourth-content > .accessories-6 > img {
    position: absolute;
    bottom: -10rem;
    right: -8rem;
    z-index: 2;
}

.fourth-content .fourth-content-slider {
    color:#fff;
    height: 800px;
    width: 100%;
    z-index: 0;
    position: absolute;
}

.fourth-content .fourth-content-slider > .fourth-image img:nth-child(1) {
    width: 100%;
    height: 1100px;
    position: absolute;
    z-index: -3;
    top: -10rem;
}

.fourth-content .fourth-content-slider > .fourth-image img:nth-child(2) {
    width: 900px;
    height: 750px;
    position: absolute;
    z-index: -4;
    top: -11rem;
    left: -13rem;
}

.fourth-content .forth-container-content {
    width: 92%;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    margin: 13rem auto;
}

.fourth-content .forth-container-content .fourth-image-content {
    height: 500px;
    width: 400px;
    background-color: #ddd;
    color: #000;
}

.fourth-content  .forth-container-content .fourth-image-content img {
    height: 320px;
    width: 100%;
}

.fourth-content  .forth-container-content .fourth-image-content p , span {
    padding: 0 1rem;
    margin-top: 100px;
}

.fourth-content  .forth-container-content .fourth-image-content > p:nth-child(2) {
    font-size: 24px;
    height: 70px;
    margin-top: 10px;
}

.fourth-content  .forth-container-content .fourth-image-content > p:nth-child(4) {
    margin-top: 24px;
    letter-spacing: 1px;
}

.fourth-content .fourth-content-slider .button-forth-content {
    width: 97%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translate(-50%,-50%);
}

.fourth-content .fourth-content-slider .button-forth-content > button {
    height: 70px;
    width: 70px;
    background: #FFD700;
    border-radius: 50%;
    border: 2px solid #FFD700;
}

.fourth-content .fourth-content-slider .button-forth-content > button i {
    font-size: 3.5em;
    color: #fff;
}

