.first-footer-content {
    background: radial-gradient(circle at 0%, #323131 0%, #000 100%);
    display: grid;
    grid-template-columns: 30fr 70fr;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.footer-title {
    grid-area: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem;
    gap: 1rem;
}

.footer-main-content {
    grid-area: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    gap: 3rem;
}

.footer-copyright {
    grid-area: 2 / 1 / span1 / span2;
    padding: 1rem 2rem;
    justify-content: start;
    display: flex;
    flex-direction: column;
}

.footer li {
    list-style-type: none;
}

.footer-copyright::before {
    border: 1px #fff solid;
    content: '';
    display: block;
    width: 100%;
}

.footer-copyright > p {
    margin: 12px 0 6px 0;
    text-align: left;
}

.footer-menu > ul,
.footer-category > ul,
.footer-contact > ul {
    gap: 2px;
    display: flex;
    flex-direction: column;
}

.footer-title > .subscribe-letter {
    display: flex;
    flex-direction: row;
}

.footer-title > .subscribe-letter > input {
    padding: 8px 16px;
    font-size: 18px;
    outline: 0;
    border: 1px white solid;
    background-color: transparent;
}

.footer-title > .subscribe-letter > .subscribe-button {
    font-size: 18px;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: #2a8694;
}

.footer-title > .subscribe-letter > .subscribe-button > a {
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

/* * { border: 1px red solid ;} */