.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .4s;
}

.hamburger-menu > a {
    text-decoration: none;
    color: #fff;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
    z-index: 1;
}

/* * { border: 1px black solid; } */

.hamburger-content {
    display: none;
    gap: 0.5rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0 2rem;
    flex-direction: column;
    font-size: 1rem;
    text-align: right;
}

.hamburger-content > a {
    text-decoration: none;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.hamburger-content > a::after {
    display: inline-block;
    content: '';
    /* border-bottom: solid 4px #019fb6;  */
    border-bottom: solid 4px lightcoral;
    width: 0;
    position: absolute;
    transition: width 500ms ease, left 500ms ease;
    left: 100%;
}
 
.hamburger-content > a:hover::after {
    width: 100%;
    left: 0;
}

.hamburger-content > a:nth-child(1) {
    animation: opacity .2s ease-in-out;
}

.hamburger-content > a:nth-child(2) {
    animation: opacity .4s ease-in-out;
}

.hamburger-content > a:nth-child(3) {
    animation: opacity .6s ease-in-out;
}

@keyframes opacity {
    0% {
        margin-top: -1rem;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}