* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: 1px black solid;
}

body {
   overflow-x: hidden;
}

.container {
   position: relative;
}

.container > .main-content {
   background: url(../assets/main-background.jpg);
   width: 100%;
   height: 600px;
}

.main-content > .navigation-bar {
   width: 100%;
   display: flex;
   justify-content: center;
}

.main-content > .navigation-bar nav {
   padding: 16px 0;
   display: flex;
   justify-content: space-between;
   color: #000;
   width: 99%;
}

.navigation-bar nav > .logo {
   width: auto;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 2rem;
}

.navigation-bar nav > .logo > img {
   width: 52px;
   height: 52px;
   margin: 0;
   background-size: cover;
   object-fit: cover;
   transform: scale(1.4);
}

.navigation > .light-dark-switch {
   width: 50px;
   height: 50px;
   background-color: #fff;
}

.navigation-bar nav > .navigation ul {
   list-style: none;
   display: flex;
   justify-content: space-between;
   text-align: center;
   width: 300px;
}

.navigation-bar nav > .navigation ul li {
   width: 100%;
   color: #fff;
   font-size: 1.1em;
   letter-spacing: 1px;
}

.navigation-bar nav > .navigation {
   display: flex;
   justify-content: space-around;
   width: 55%;
}

.navigation > .search-bar-content {
   border: 2px solid white;
   border-radius: 20px;
   height: 30px;
   width: 200px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 4px 0;
}

.navigation > .search-bar-content input {
   background: transparent;
   border: none;
   outline: none;
   width: 75%;
   color: white;
}

.navigation > .search-bar-content i {
   color: #fff;
   padding: 8px;
   font-size: 0.8em;
}

/* Hamburger menu */
.navigation > .hamburger-menu {
   display: none;
   flex-direction: column;
   height: 20px;
   justify-content: space-between;
   position: relative;
   z-index: 3;
}

.navigation > .hamburger-menu input {
   position: absolute;
   width: 43px;
   height: 32px;
   opacity: 0;
   left: -6px;
   top: -4px;
   cursor: pointer;
}

.navigation > .hamburger-menu span {
   display: block;
   width: 28px;
   height: 3px;
   background-color:rgb(248, 242, 242);
   border-radius: 3px;
   transition: all 0.5s;
}

/* Hamburger animation */

.navigation > .hamburger-menu span:nth-child(2) {
    transform-origin: 0 0;
}

.navigation > .hamburger-menu span:nth-child(4) {
    transform-origin: 0 100%;
}

.navigation > .hamburger-menu input:checked ~ span:nth-child(2) {
    background-color: rgb(248, 242, 242);
    transform: rotate(45deg) translate(-1px,-1px);
}

.navigation > .hamburger-menu input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

.navigation > .hamburger-menu input:checked ~ span:nth-child(4) {
    background-color: rgb(248, 242, 242);
    transform: rotate(-45deg) translate(-1px,0);
}

 /* Content */
 