 /* {
    padding: 1rem 1.5rem;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    position: sticky;
    position: -webkit-sticky;
    justify-content: space-between;
    color: white;
}

.navigation-heading {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.navigation-heading li {
    margin: 0;
    padding: 1.5rem;
    list-style-type: none;
    font-size: 1.5rem;
    flex: 1;
    text-align: center;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.navigation-heading li:hover {
    background-color: #111;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.search-bar .search-bar-content i {
    font-size: large;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    color: white;
}

.search-bar .search-bar-content input {
    margin: 0;
    font-size: 18px;
    border: none;
    background-color: transparent;
    padding: 0.5rem;
}

.search-bar .search-bar-content input:focus {
    outline: none;
}

.search-bar .search-bar-content button {
    margin: 0;
    font-size: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-bar .search-bar-content {
    border-radius: 1.2rem;
    border: 3px white solid;
    padding: 12px 20px;
    display: flex;
    flex-direction: row;
}

.hamburger-menu {
    padding: 1.5rem 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.hamburger-menu i {
    font-size: 28px;
    cursor: pointer;
    text-align: center;
}

.light-dark-switch {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
}

.light-dark-switch input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}
  
.light-dark-switch label {
    cursor: pointer;
    width: 80px;
    height: 40px;
    background: white;
    display: block;
    border-radius: 100px;
    position: relative;
    padding: 1px;
}
  
label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 2rem;
    height: 2rem;
    background: black;
    border-radius: 45px;
    transition: 0.3s;
}
  
input:checked + label {
    background: black;
}
  
input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background: white;
} 
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    overflow-x: hidden;
    background: url(../assets/forest.jpg);
 }

 .container {
    position: relative;
 }

 .container .navigation-bar {
    width: 100%;
    display: flex;
    justify-content: center;
 }

 .container .navigation-bar nav {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    color: #000;
    width: 99%;
 }  

 .container .navigation-bar nav .logo {
    width: 50px;
    height: 50px;
    background-color: #fff;
 }

 .container .navigation-bar nav .navigation .light-dark-switch {
    width: 50px;
    height: 50px;
    background-color: #fff;
 }

 .container .navigation-bar nav .navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 300px;
 }

 .container .navigation-bar nav .navigation ul li {
    width: 100%;
    color: #fff;
    font-size: 1.1em;
    letter-spacing: 1px;
 }

 .container .navigation-bar nav .navigation {
    display: flex;
    justify-content: space-around;
    width: 55%;
 }

 .container .navigation-bar nav .navigation .search-bar-content {
    border: 2px solid white;
    border-radius: 20px;
    height: 15px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
 }

 .container .navigation-bar nav .navigation .search-bar-content input {
    background: transparent;
    border: none;
    outline: none;
    width: 75%;
    color: white;
 }

 .container .navigation-bar nav .navigation .search-bar-content i {
    color: #fff;
    padding: 8px;
    font-size: 0.8em;
 }

 /* Content */
 .container .content .title {
    color: white;
    text-align: end;
    margin-right: 80px;
    margin-top: 150px;
 }

 .container .content .title .explore {
    font-size: 5.5em;
 }

 .container .content .title .indonesia {
    font-size: 6.3em;
    letter-spacing: 10px;
 }

 .container .content .gambar {
    border: 5px solid white;
    width: 97%;
    margin: auto;
 }

 .container .content .gambar .konten-gambar {
    display: grid;
    justify-content: center;
    grid-template-columns: [k1] 420px [k2] 420px [k3] 220px [k4];
    gap: 20px;
    margin: 50px auto;
    width: 97%;
    background-color: green;
 }

 .container .content .gambar .konten-gambar-s {
    display: grid;
    justify-content: center;
    grid-template-columns: [k1] 220px [k2] 270px [k3] 520px [k4];
    gap: 30px;
    margin: 50px auto;
    width: 97%;
    background-color: aqua;
 }

 /* gambar 1-3 */

 .container .content .gambar .konten-gambar .gambar-1 , .gambar-2 {
    width: 420px;
    height: 270px;
    border-radius: 10%;
    background-color: blue;
 }

 .container .content .gambar .konten-gambar .gambar-3 {
    width: 220px;
    height: 270px;
    border-radius: 10%;
    background-color: red;
 }

 /* gambar 4-6 */

 .container .content .gambar .konten-gambar-s .gambar-4 {
    width: 270px;
    height: 370px;
    border-radius: 10%;
    background-color: red;
 }

 .container .content .gambar .konten-gambar-s .gambar-5 {
    width: 270px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 .container .content .gambar .konten-gambar-s .gambar-5 .gambar-ke-1 , .gambar-ke-2 {
    width: 270px;
    height: 175px;
    border-radius: 10%;
    background-color: red;
 }

 .container .content .gambar .konten-gambar-s .gambar-6 {
    width: 520px;
    height: 320px;
    border-radius: 10%;
    background-color: red;
 }