 /* .navigation {
    padding: 1rem 1.5rem;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    position: sticky;
    position: -webkit-sticky;
    justify-content: space-between;
    color: white;
}

.navigation-heading {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.navigation-heading li {
    margin: 0;
    padding: 1.5rem;
    list-style-type: none;
    font-size: 1.5rem;
    flex: 1;
    text-align: center;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.navigation-heading li:hover {
    background-color: #111;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.search-bar .search-bar-content i {
    font-size: large;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    color: white;
}

.search-bar .search-bar-content input {
    margin: 0;
    font-size: 18px;
    border: none;
    background-color: transparent;
    padding: 0.5rem;
}

.search-bar .search-bar-content input:focus {
    outline: none;
}

.search-bar .search-bar-content button {
    margin: 0;
    font-size: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-bar .search-bar-content {
    border-radius: 1.2rem;
    border: 3px white solid;
    padding: 12px 20px;
    display: flex;
    flex-direction: row;
}

.hamburger-menu {
    padding: 1.5rem 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.hamburger-menu i {
    font-size: 28px;
    cursor: pointer;
    text-align: center;
}

.light-dark-switch {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
}

.light-dark-switch input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}
  
.light-dark-switch label {
    cursor: pointer;
    width: 80px;
    height: 40px;
    background: white;
    display: block;
    border-radius: 100px;
    position: relative;
    padding: 1px;
}
  
label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 2rem;
    height: 2rem;
    background: black;
    border-radius: 45px;
    transition: 0.3s;
}
  
input:checked + label {
    background: black;
}
  
input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background: white;
} 
 */


 .container .navigation-bar nav {
    padding: 1rem 1.5rem;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    color: #000;
 }  

 .container .navigation-bar nav .logo {
    width: 70px;
    height: 70px;
    background-color: #000;
 }

 .container .navigation-bar nav .light-dark-switch {
    width: 70px;
    height: 70px;
    background-color: #000;
 }